[Unit]
Description=Run Report Maker Bot
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/user/running_bot
ExecStart=/home/user/running_bot/venv/bin/python3 main.py
Restart=always
EnvironmentFile=/home/user/running_bot/.env

[Install]
WantedBy=multi-user.target
